.beer-row {
    margin-right: 0;
    margin-left: 0;
    margin-top: 1rem;
}

.navigation-menu {
    display: block;
}

.nav-btn {
    margin-right: 8px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    background-color: #f8f9fa;
}

.sidebar-tab {
    background-color: #dfdfdfdf;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    color: #333;
}

.logo {
    text-align:center;
}

.bottom-border {
    border-bottom: 1px solid #999;
}

.beer-body {
    padding-top: 48px;
}

.results {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.left-input {
    padding-left: 0;
}

.right-input {
    padding-right: 0;
}

.reference-modal-header {
    border-bottom: none;
}

.reference-modal-footer {
    border-top: none;
}

@media (min-width: 768px) {
    .navigation-menu {
        display: unset;
        background-color: #f8f9fa;
        position: sticky;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .nav-btn {
        display: none;
    }
}